* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#modal4 {
	height: 80vh;
}
.overflow-auto {
	overflow: auto;
}
.video-width {
	width: 100%;
	height: 100%;
}
.video-height-container {
	height: 23em;
}
.overflow-hidden {
	overflow: hidden;
}
#ubication {
	width: 100%;
	height: 20em;
}